body {
  height: 100vh;
  overflow: auto;
  margin: 0px;
  background-image: linear-gradient(0deg, #06409B, #07409B, #0D58AC, #1160B3, #387BCA, #4284D0, #6197D7,#9BB8E0, #B7CBE3, #d4dee5);
  cursor: url('images/cursor/cursor1.png'),auto;
}



.resize {
  position: fixed;
  width: 200px;
  height: auto;
  top:1vh;
  left: 1vw;
}

.canvas{position: absolute;
  z-index: 1;

}


.img--Haricore_ {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 75%;
  max-height: 75%;
}

.img--cyberARCHIVEtext {
  display: flex;
  position: absolute;
  top: 50vh;
  right: 50vh;
  max-width: 70%;
  max-height: 70%;
}

.contact__column1 {
  z-index: 2;
position: relative;
  float: right;
  padding-right: 5vw;
  display: flex;
}

.contact__column2 {
  z-index: 2;
position: relative;
  float: right;
  padding-right: 7vw;
  display:grid;
}


.top__text {font-family: monospace;
    font-style:normal;
    color: white;
    bottom: 4%;
    position: fixed;
    padding-left: 5vw;
    padding-right: 5vw;
}

.mid__text {font-family: monospace;
    font-style:bold;
    color: white;
    bottom: 2%;
    position: fixed;
    padding-left: 53vw;
    padding-right: 5vw
}



.gallery__img{
  width: 60%
}


.gallery__item {
  padding-left: 20%;
  padding-top: 50px;
  padding-bottom: 40px;
}
