
body {
  height: 100vh;
  overflow: auto;
  margin: 10px;
  background-image: linear-gradient(0deg, #06409B, #07409B, #0D58AC, #1160B3, #387BCA, #4284D0, #6197D7,#9BB8E0, #B7CBE3, #d4dee5);
  cursor: url('images/cursor/cursor1.png'),auto;
}




.resize {
  position: fixed;
  width: 200px;
  height: auto;
  top:1vh;
  left: 1vw;
}



.viscontainer {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 5vh;
  left: 10vh;
  width: 798px;
  height: 648px;

  display: flex;
  flex-direction: column;

}






.visualart {
  background-image: url("images/visual art/icons/tile.png") ;


  flex-grow: 1;


  overflow:scroll;

  /* for Firefox */
  min-height: 0;
}


.advertisement1, .advertisement2, .advertisement3 ,.advertisement4 {
  position: fixed;
  height: auto;
  z-index: 1;
}

    .advertisement1 {
      top: 28vh;
      right: 20vw;
    }

    .advertisement2 {
      top: 40vh;
      right: 28vw;
    }


    .advertisement3 {
      top: 23vh;
      left: 2vw;
    }

    .advertisement4 {
      bottom: 28vh;
      right: 0vw;
    }

    .top__text {font-family: monospace;
        font-style:normal;
        color: white;
        bottom: 2%;
        position: fixed;
        padding-left: 5vw;
        padding-right: 5vw;
    }


.visualarticons {bottom: 2vh;
position: absolute;
}


  /* Assets */
.powered {
  position: fixed;
  width: 200px;
  height: auto;
  top:1vh;
  right: 1vw;

}


.assetscontainer {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  right: 20vh;
  width: 1200px;

  display: flex;
  flex-direction: column;
}



.section {
background-color: #130361;
background-repeat: repeat;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  font-family: monospace;
    font-style:normal;
    color: white;
  flex-grow: 1;
  margin: 7px;
  border: 7px solid #130361;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
 box-shadow: 5px 5px black;



}



.assetsscrollable-content {
background-image: linear-gradient(0deg, #06409B, #07409B, #0D58AC, #1160B3, #387BCA, #4284D0, #6197D7,#9BB8E0, #B7CBE3, #d4dee5);
  background-repeat: repeat;
  flex-grow: 1;

    background-blend-mode: difference;

  overflow: auto;

}


  /* Misc */

.misccontainer {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  right: 10vh;
  width: 800px;

  display: flex;
  flex-direction: column;
}






.miscscrollable-content {
  background-image: url("images/visual art/1 Misc/tile.png") ;
  background-repeat: repeat;
  flex-grow: 1;

    background-blend-mode: difference;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}


.miscgif1, .miscgif2, .miscgif3, .miscgif4, .miscgif5, .miscgif6 {
  position: fixed;
  height: auto;
  z-index: 1;
  border: 3px solid #130361;
  box-shadow: 2px 2px black;
}

    .miscgif1 {
      top: 28vh;
      left: 20vw;
    }

    .miscgif2 {
      top: 2vh;
      left: 20vw;
    }


    .miscgif3 {
      bottom: 20vh;
      left: 12vw;
    }

    .miscgif4 {
      top: 28vh;
      left: 0vw;
    }

    .miscgif5 {
      top: 8vh;
      right: 1vw;
    }


    .miscgif6 {
      bottom: 1vh;
      right: 1vw;
    }





  /* TROPICAL FUTURES*/
.tropicalcontainer {
  /* give the outermost container a predefined size */
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 10vh;
  width: 1200px;

  display: flex;
  flex-direction: column;
}



.tropicalsection {
background-color: #130361;
background-repeat: repeat;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  font-family: monospace;
    font-style:normal;
    color: white;
  flex-grow: 1;
  margin: 7px;
  border: 7px solid #130361;
border-radius: 10px;
margin-top: 15px;
margin-bottom: 15px;
 box-shadow: 5px 5px black;



}



.tropicalscrollable-content {
  background-image: url("images/visual art/2 Tropical Futures/tile.png") ;
  background-repeat: repeat;
  flex-grow: 1;

    background-blend-mode: difference;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}


.tropicalgif1, .tropicalgif2, .tropicalgif3, .tropicalgif4 {
  position: fixed;
  height: auto;
  z-index: 1;
  border: 3px solid #130361;
  box-shadow: 2px 2px black;
}

    .tropicalgif1 {
      top: 28vh;
      right: 30vw;
    }

    .tropicalgif2 {
      top: 17vh;
      right: 8vw;
    }


    .tropicalgif3 {
      bottom: 20vh;
      right: 2vw;
    }

    .tropicalgif4 {
      top: 3vh;
      right: 0vw;
    }





  /* Partido Alto */



  .partidoaltocontainer {
    /* give the outermost container a predefined size */
    position: absolute;
    top: 5vh;
    bottom: 5vh;
    left: 10vh;
    width: 1200px;

    display: flex;
    flex-direction: column;
  }







  .partidoaltoscrollable-content {
    background-image: url("images/visual art/3 Partido Alto/tile.png") ;
    background-repeat: repeat;
    flex-grow: 1;

      background-blend-mode: difference;

    overflow: auto;

    /* for Firefox */
    min-height: 0;
  }


  .partidogif1, .partidogif3, .partidogif4, .partidogif5, .partidogif6 {
    position: fixed;
    height: auto;
    z-index: 1;
    border: 3px solid #130361;
    box-shadow: 2px 2px black;
  }

      .partidogif1 {
        top: 28vh;
        right: 8vw;
      }

      .partidogif4 {
        bottom: 30vh;
        right: 1vw;
      }

      .partidogif3 {
        top: 25vh;
        left: 1vw;
      }

      .partidogif5 {
        top: 1vh;
        right: 2vw;
      }
      .partidogif6 {
        right: 0vw;
        bottom: 3vh;
      }


  /* Hari Kinh*/



      .harikinhcontainer {
        /* give the outermost container a predefined size */
        position: absolute;
        top: 5vh;
        bottom: 5vh;
        left: 10vh;
        width: 1200px;

        display: flex;
        flex-direction: column;
      }






      .harikinhscrollable-content {
        background-image: url("images/visual art/4 Hari Kinh/tile.png") ;
        background-repeat: repeat;
        flex-grow: 1;

          background-blend-mode: difference;

        overflow: auto;

        /* for Firefox */
        min-height: 0;
      }

      .harikinhgif1, .harikinhgif2, .harikinhgif3, .harikinhgif5 {
        position: fixed;
        height: auto;
        z-index: 1;
        border: 3px solid #130361;
        box-shadow: 2px 2px black;
      }

          .harikinhgif1 {
            top: 28vh;
            right: 0vw;
          }

          .harikinhgif2 {
            top: 2vh;
            right: 1vw;
          }


          .harikinhgif5 {
            bottom: 1vh;
            right: 1vw;
          }


          /* Structure*/



              .structurecontainer {
                /* give the outermost container a predefined size */
                position: absolute;
                top: 5vh;
                bottom: 5vh;
                left: 10vh;
                width: 1200px;

                display: flex;
                flex-direction: column;
              }







              .structurescrollable-content {
                background-image: url("images/visual art/5 The Structure/tile.png") ;
                background-repeat: repeat;
                flex-grow: 1;

                  background-blend-mode: difference;

                overflow: auto;

                /* for Firefox */
                min-height: 0;
              }

              .structuregif1, .structuregif2, .structuregif3 {
                position: fixed;
                height: auto;
                z-index: 1;
                border: 3px solid #130361;
                box-shadow: 2px 2px black;
              }

                  .structuregif1 {
                    top: 28vh;
                    right: 0vw;
                  }

                  .structuregif2 {
                    bottom: 8vh;
                    right: 0vw;
                  }

                  .structuregif3{
                    top: 2vh;
                    right: 0vw;
                  }


  /* DX7 */



    .dx7container {
      /* give the outermost container a predefined size */
      position: absolute;
      top: 5vh;
      bottom: 5vh;
      right: 1vh;
      width: 900px;

      display: flex;
      flex-direction: column;
    }






    .dx7scrollable-content {
      background-image: url("images/visual art/6 DX7/tile.png") ;
      background-repeat: repeat;
      flex-grow: 1;

        background-blend-mode: difference;

      overflow: auto;

      /* for Firefox */
      min-height: 0;
    }

    .casiopeagif1, .casiopeagif2, .casiopeagif3 {
      position: fixed;
      height: auto;
      z-index: 1;
      border: 3px solid #130361;
      box-shadow: 2px 2px black;
    }

        .casiopeagif1 {
          top: 28vh;
          left: 8vw;
        }

        .casiopeagif2 {
          top: 2vh;
          left: 10vw;
        }

        .casiopeagif3 {
          bottom: 2vh;
          left: 10vw;
        }



        /* cordilia */



            .cordiliacontainer {
              /* give the outermost container a predefined size */
              position: absolute;
              top: 5vh;
              bottom: 7vh;
              left: 5vh;
              width: 1100px;

              display: flex;
              flex-direction: column;
            }







            .cordiliascrollable-content {
              background-image: url("images/visual art/7 Cordilia/tile.png") ;
              background-repeat: repeat;
              flex-grow: 1;

                background-blend-mode: difference;

              overflow: auto;

              /* for Firefox */
              min-height: 0;
            }

            .cordiliagif1, .cordiliagif2, .cordiliagif3, .cordiliagif4, .cordiliagif5 {
              position: fixed;
              height: auto;
              z-index: 1;
              border: 3px solid #130361;
              box-shadow: 2px 2px black;
            }

                .cordiliagif1 {
                  top: 30vh;
                  right: 8vw;
                }

                .cordiliagif2 {
                  top: 40vh;
                  right: 2vw;
                }

                .cordiliagif3 {
                  bottom: 4vh;
                  right: 1vw;
                }

.cordiliagif4 {top: 0vh;
  right: 3vw;

}
.cordiliagif5 {bottom: 2vh;
  right: 15vw;

}




                        /* network*/



                            .networkcontainer {
                              /* give the outermost container a predefined size */
                              position: absolute;
                              top: 5vh;
                              bottom: 5vh;
                              left: 20vh;
                              width: 1100px;

                              display: flex;
                              flex-direction: column;
                            }







                            .networkscrollable-content {
                              background-image: url("images/visual art/8 Network Spirituality/tile.png") ;
                              background-repeat: repeat;
                              flex-grow: 1;

                                background-blend-mode: difference;

                              overflow: auto;

                              /* for Firefox */
                              min-height: 0;
                            }

                            .networkgif1, .networkgif2, .networkgif3, .networkgif4{
                              position: fixed;
                              height: auto;
                              z-index: 1;
                              border: 3px solid #130361;
                              box-shadow: 2px 2px black;
                            }

                                .networkgif1 {
                                  top: 2vh;
                                  right: 2vw;
                                }

                                .networkgif2 {
                                  top: 40vh;
                                  right: 8vw;
                                }

                                .networkgif3{
                                  bottom: 2vh;
                                  right: 1vw;
                                }
                                .networkgif4{
                                  bottom: 10vh;
                                  right: 5vw;
                                }




/* network*/


                                                        .makarashicontainer {
                                                              /* give the outermost container a predefined size */
                                                              position: absolute;
                                                              top: 5vh;
                                                              bottom: 5vh;
                                                              left: 15vh;
                                                              width: 1100px;

                                                              display: flex;
                                                              flex-direction: column;
                                                            }






                                                            .makarashiscrollable-content {
                                                              background-image: url("images/visual art/9 MakaRashi/tile.png") ;
                                                              background-repeat: repeat;
                                                              flex-grow: 1;

                                                                background-blend-mode: difference;

                                                              overflow: auto;

                                                              /* for Firefox */
                                                              min-height: 0;
                                                            }

                                                            .makarashigif1, .makarashigif2, .makarashigif3, .makarashigif4 ,.makarashigif5{
                                                              position: fixed;
                                                              height: auto;
                                                              z-index: 1;
                                                              border: 3px solid #130361;
                                                              box-shadow: 2px 2px black;
                                                            }

                                                                .makarashigif1 {
                                                                  top: 2vh;
                                                                  right: 2vw;
                                                                }

                                                                .makarashigif2 {
                                                                  top: 20vh;
                                                                  right: 1vw;
                                                                }

                                                                .makarashigif3{
                                                                  bottom: 20vh;
                                                                  right: 0vw;
                                                                }

                                                                .makarashigif4{
                                                                  bottom: 1vh;
                                                                  right: 2vw;
                                                                }
                                                                .makarashigif5{
                                                                  bottom: 20vh;
                                                                  left: 0vw;
                                                                }
